:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/*Footer*/
.contFooter{
  display: flex;
  background-color: #302e2e;
  padding: 15px;
}

.txtFooter{
  color: white;
}

/*Header*/
.contHeader{
  background-color:  #2b0655;
}

.txtTitle{
    font-family: 'Times New Roman', Times, serif;  
    margin: 0;
    font-size: 50px;
    word-break: break-all;
    color: white;
}

.txtSubTitle{
  color: white;

}

/*Main, Cards*/
.flip-card {
  background-color: transparent;
  width: 300px;
  height: 320px;
  border: 1px solid #3c0a5e;
  perspective: 1000px; 
  display: inline-block;
  margin: 8px; 
  padding: 8px;
  vertical-align: top; 
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%; 
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  display: flex; 
  flex-direction: column; 
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; 
  backface-visibility: hidden;
  justify-content: center;
  vertical-align: middle;
}

.flip-card-front {
  background-color: #181515;
  color: rgb(0, 0, 0);
}

.flip-card-back {
  background-color: #5f1392;
  color: white;
  transform: rotateY(180deg);
}

/*Main, Form*/
.container {
  padding: 50px;
  color: #5f1392;
  text-transform: uppercase;
}

#contatoH2{
  color: #5f1392;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

hr {
  border: 1px solid #644dcc;
  margin-bottom: 25px;
}

#contato form label {
  display: block;
  margin-bottom: 5px;
}

#contato form input,
#contato form textarea {
  width: 100%;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 10px;
  border: 1px solid purple;
  align-items: center;
}

#contato form button {
  background-color: #5f1392;
  color: #fff;
  padding: 10px 50px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

#contato form button:hover {
  background-color: #9b22ec;
}

/*Main, Habilidades*/
#habilidades h2{
  text-align: center;
  color: #9b05ff;
 font-size: 35px;
}

main {
  padding: 20px;
}

section {
  margin-bottom: 40px;
  color: #581212;
}

#habilidades .habilidade {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#habilidades .habilidade h3 {
  margin-top: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #000000;
  color: #9b05ff;
}

th, td {
  text-align: center;
  padding: 40px;
  font-size: 20px;
  background-color: #00000000;
}

th:first-child, td:first-child {
  text-align: left;
}


tr:nth-child(even) {
  background-color: #0a0808
}

.fa-check {
  color: green;
}

.fa-remove {
  color: red;
}

* {box-sizing: border-box}

