@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

#root{
  width: 100%;
}
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  font-family: 'poppins' ;
  padding: 0;
  text-align: center;
  margin: 0;
  display: flex;
  width: 100%;
  min-height: 100vh;
  background-color: rgb(0, 0, 0);
}

h1 {
  margin: 0;
  font-size: 50px;
  word-break: break-all;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/*Footer*/
footer {
  background-color: #161515;
  color: #fff;
  padding: 15px;
  text-align: center;
  
}

@media (max-width: 768px) {
  nav ul li {
      display: block;
      margin-bottom: 10px;
  }
}

/*Header*/
header{
  background-color: #2b0655;
  color: #fff;
  padding: 20px;
  text-align: center;
  font-size: 20px;
}

.txtTitle{
    font-family: Arial, Helvetica, sans-serif;  
    margin: 0;
    font-size: 50px;
    word-break: break-all;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.txtSubTitle{
  color: white;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/*Main, Cards*/
.flip-card {
  background-color: transparent;
  width: 300px;
  height: 320px;
  border: 1px solid #3c0a5e;
  perspective: 1000px; 
  display: inline-block;
  margin: 8px; 
  padding: 8px;
  vertical-align: top; 
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%; 
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  display: flex; 
  flex-direction: column; 
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; 
  backface-visibility: hidden;
  justify-content: center;
  vertical-align: middle;
}

.flip-card-front-vitor{
  background-image: url(./img/vithonex.jpg);
  background-size: cover;
  background-position: center;
  height: 100%;
}
.flip-card-front-mateus{
  background-image: url(./img/mateus.jpg);
  background-size: cover;
  background-position: center;
  height: 100%;
}
.flip-card-front-raul{
  background-image: url(./img/raul.jpg);
  background-size: cover;
  background-position: center;
  height: 100%;
}

.flip-card-back {
  background-color: #5f1392;
  color: white;
  transform: rotateY(180deg);
}

/*ARRUMAR AS IMAGENS*/
#imagem1{
  width: 250px;
  height: 300px;
  background-image: url("img/vithonex.jpg");
  background-size: cover;
}

#imagem2{
  width: 250px;
  height: 300px;
  background-image: url("img/mateus.jpg");
  background-size: cover;
}

#imagem3{
  width: 250px;
  height: 300px;
  background-image: url("img/raul.jpg");
  background-size: cover;
}

/*Main, Form*/
.container {
  padding: 50px;
  width: 100%;
  color: #5f1392;
  text-transform: uppercase;
}
.mensagem{
  height: 100px;
  width: 100%; 
}

.registerbtn{
  background-color: #5f1392;
  color: #fff;
  padding: 10px 50px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.registerbtn:hover{
  background-color: #9b22ec;
}

#contatoH2{
  color: #5f1392;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

hr {
  border: 1px solid #644dcc;
  margin-bottom: 25px;
}

#contato form label {
  display: block;
  margin-bottom: 5px;
}

#contato form input,
#contato form textarea {
  width: 100%;
  height: 100px;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 10px;
  border: 1px solid purple;
  align-items: center;
}

#contato form button {
  background-color: #5f1392;
  color: #fff;
  padding: 10px 50px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

#contato form button:hover {
  background-color: #9b22ec;
}


/*Main, Habilidades*/
main{
  padding: 20px;
}
section{
  margin-bottom: 40px;
  color: #581212;
}

#habilidades h2{
  text-align: center;
  color: #9b05ff;
 font-size: 35px;
}

main {
  padding: 20px;
}

section {
  margin-bottom: 40px;
  color: #581212;
}

#habilidades .habilidade {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#habilidades .habilidade h3 {
  margin-top: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #000000;
  color: #9b05ff;
}

th, td {
  text-align: center;
  padding: 40px;
  font-size: 20px;
  background-color: #00000000;
}

th:first-child, td:first-child {
  text-align: left;
}


tr:nth-child(even) {
  background-color: #0a0808
}

.fa-check {
  color: green;
}

.fa-remove {
  color: red;
}

* {box-sizing: border-box }
*{     padding: 0;     margin: 0;     outline: none;     border: none;     box-sizing: border-box;     list-style: none; }
*{font-family: 'poppins';}


